# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [481]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

In [482]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [483]:
df.columns = [column.upper() for column in df.columns]

In [484]:
df.columns = df.columns.str.replace(' ', '_')

In [485]:
df.rename(columns= {'ST': 'STATE'}, inplace=True)
print(df.columns)

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER_LIFETIME_VALUE',
       'INCOME', 'MONTHLY_PREMIUM_AUTO', 'NUMBER_OF_OPEN_COMPLAINTS',
       'POLICY_TYPE', 'VEHICLE_CLASS', 'TOTAL_CLAIM_AMOUNT'],
      dtype='object')

In [486]:
df.columns

Index(['CUSTOMER', 'STATE', 'GENDER', 'EDUCATION', 'CUSTOMER_LIFETIME_VALUE',
       'INCOME', 'MONTHLY_PREMIUM_AUTO', 'NUMBER_OF_OPEN_COMPLAINTS',
       'POLICY_TYPE', 'VEHICLE_CLASS', 'TOTAL_CLAIM_AMOUNT'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [487]:
df.dtypes

CUSTOMER                      object
STATE                         object
GENDER                        object
EDUCATION                     object
CUSTOMER_LIFETIME_VALUE       object
INCOME                       float64
MONTHLY_PREMIUM_AUTO         float64
NUMBER_OF_OPEN_COMPLAINTS     object
POLICY_TYPE                   object
VEHICLE_CLASS                 object
TOTAL_CLAIM_AMOUNT           float64
dtype: object

In [488]:
df.nunique()

CUSTOMER                     1071
STATE                           8
GENDER                          5
EDUCATION                       6
CUSTOMER_LIFETIME_VALUE      1027
INCOME                        774
MONTHLY_PREMIUM_AUTO          132
NUMBER_OF_OPEN_COMPLAINTS       6
POLICY_TYPE                     3
VEHICLE_CLASS                   6
TOTAL_CLAIM_AMOUNT            761
dtype: int64

In [489]:
df.describe(include="object")

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,MY31220,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [490]:
df.GENDER.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [491]:
gender_map = {
    'M': 'M',
    'Male': 'M',
    'F': 'F',
    'Femal': 'F',
    'female': 'F'
}
df['GENDER'] = df['GENDER'].replace(gender_map)


print(df['GENDER'].value_counts())

GENDER
F    502
M    452
Name: count, dtype: int64

In [492]:
state_map = {
    'Washington': 'WA',
    'Arizona': 'AZ',
    'Nevada': 'NV',
    'California': 'Cali',
    'Oregon': 'OG',
    'Cali': 'Cali',
    'AZ': 'AZ',
    'WA': 'WA',
}
df['STATE'] = df['STATE'].replace(state_map)

In [493]:
print(df['STATE'].value_counts())

STATE
Cali    331
OG      320
AZ      211
WA      111
NV       98
Name: count, dtype: int64

In [494]:
df['EDUCATION'] = df['EDUCATION'].map(lambda x: 'Bachelor' if x == 'Bachelors' else x)

In [495]:
print(df['EDUCATION'].value_counts())

EDUCATION
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64

In [496]:
# In Customer Lifetime Value, delete the % character

In [497]:
# df['CUSTOMER_LIFETIME_VALUE'] = df['CUSTOMER_LIFETIME_VALUE'].str.replace('%', '')

In [498]:
df['CUSTOMER_LIFETIME_VALUE'] = df['CUSTOMER_LIFETIME_VALUE'].apply(lambda x: x.strip('%') if type(x) == str else x)

In [499]:
df.head()

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT
0,RB50392,WA,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,AZ,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,Cali,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [500]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

In [501]:
vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury',
}
df['VEHICLE_CLASS'] = df['VEHICLE_CLASS'].replace(vehicle_class_map)

In [502]:
print(df['VEHICLE_CLASS'].value_counts())

VEHICLE_CLASS
Four-Door Car    576
Two-Door Car     205
SUV              199
Luxury            91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [503]:
df['NUMBER_OF_OPEN_COMPLAINTS']

0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: NUMBER_OF_OPEN_COMPLAINTS, Length: 4008, dtype: object

In [504]:
# Customer lifetime value should be numeric

In [505]:
df.CUSTOMER_LIFETIME_VALUE.unique()

array([nan, '697953.59', '1288743.17', ..., '2031499.76', '323912.47',
       '899704.02'], shape=(1028,), dtype=object)

In [506]:
df['CUSTOMER_LIFETIME_VALUE'] = pd.to_numeric(df['CUSTOMER_LIFETIME_VALUE'], errors='coerce')

In [507]:
df['NUMBER_OF_OPEN_COMPLAINTS'] = df['NUMBER_OF_OPEN_COMPLAINTS'].apply(lambda x: x.split("/")[1] if type(x) == str else x)

In [508]:
df['NUMBER_OF_OPEN_COMPLAINTS'].value_counts()

NUMBER_OF_OPEN_COMPLAINTS
0    830
1    138
2     50
3     34
4     13
5      6
Name: count, dtype: int64

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [509]:
df.isnull()

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT
0,False,False,True,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True

In [510]:
df = df.dropna(how='all')

In [511]:
df.isnull().any()

CUSTOMER                     False
STATE                        False
GENDER                        True
EDUCATION                    False
CUSTOMER_LIFETIME_VALUE       True
INCOME                       False
MONTHLY_PREMIUM_AUTO         False
NUMBER_OF_OPEN_COMPLAINTS    False
POLICY_TYPE                  False
VEHICLE_CLASS                False
TOTAL_CLAIM_AMOUNT           False
dtype: bool

In [519]:
df.isnull().sum()

CUSTOMER                       0
STATE                          0
GENDER                       117
EDUCATION                      0
CUSTOMER_LIFETIME_VALUE        0
INCOME                         0
MONTHLY_PREMIUM_AUTO           0
NUMBER_OF_OPEN_COMPLAINTS      0
POLICY_TYPE                    0
VEHICLE_CLASS                  0
TOTAL_CLAIM_AMOUNT             0
dtype: int64

In [517]:
df.CUSTOMER_LIFETIME_VALUE = df.CUSTOMER_LIFETIME_VALUE.fillna(df.CUSTOMER_LIFETIME_VALUE.median())

In [520]:
df['GENDER'].fillna('Unknown', inplace=True)

/var/folders/pf/0cbpyhv14lxc4crrsx6mvxkh0000gp/T/ipykernel_33437/2140876252.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GENDER'].fillna('Unknown', inplace=True)

In [521]:
df

,CUSTOMER,STATE,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT
0,RB50392,WA,Unknown,Master,588174.235,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,AZ,F,Bachelor,697953.590,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1288743.170,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,Cali,M,Bachelor,764586.180,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School or Below,536307.650,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,OG,M,Master,305955.030,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.760,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,AZ,F,Bachelor,323912.470,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,Cali,F,Master,462680.110,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,Cali,F,College,899704.020,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [531]:
df.duplicated().sum()

np.int64(0)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [466]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [467]:
# Your code here